// base 
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/fonts";


//blocks
@import "./blocks/header";
@import "./blocks/burger-menu";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/project";
@import "./blocks/slider-genres";
@import "./blocks/quotes-slider";
@import "./blocks/favorite-writers-slider";
@import "./blocks/choice"