.about {
    color: $black;
    margin-bottom: 180px;
}

.about-block {
    position: relative;
    display: flex;
    gap: 42px;
}
.about-poets {
    position: absolute;
    top: 360px;
    left: 375px;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 25px 25px;
    display: inline-flex;

    &__link {
        position: relative;
  display: inline-block; /* Чтобы размеры были корректно рассчитаны */
  margin-right: 25px;   /* Отступ для размещения эллипса */
  &:hover {
    transform: scale(2.2);
 
  }
 &:hover::after {
    visibility: hidden;
    opacity: 0;
  }

 
  
       
  &::after {
       content: ""; /* Важно для отображения псевдоэлемента */
  position: absolute;
  bottom: 0;
  right: 10px; /* Располагаем эллипс рядом с объектом */
  width: 15px;
  height: 15px;
  background-color:  rgba(4, 183, 63, 1); /* Цвет эллипса */
  border-radius: 50%;   /* Превращаем прямоугольник в эллипс */
  display: inline-block; /* Можно также использовать, но absolute уже делает это */
        }
        img {
            border-radius: 50%;
             transition: transform 0.3s ease;
        }
    }
    
}



.about-poets__link:nth-child(3)::after {
    content: '';
    position: absolute;
    bottom: 0;
  right: 10px;
    width: 15px;
  height: 15px;
    background: rgba(255, 90, 5, 1); 
    z-index: 1; 
}
.about-poets__link:nth-child(4)::after {
    content: '';
    position: absolute;
    bottom: 0;
  right: 10px;
    width: 15px;
  height: 15px;
    background: rgba(255, 90, 5, 1); 
    z-index: 1;
}
.about-content {
    &__title {
        color: rgba(255, 90, 5, 1);

  font-family: "inter-semibold";
font-size: 24px;
text-transform: uppercase;
margin-bottom: 20px;

    }
    &__description {
        max-width: 760px;
        p {
            color: rgba(0, 0, 0, 1);
 font-family: "montserrat-regular";
font-size: 20px;
line-height: 1.2em;
margin-bottom: 15px;
        }
    }
}
