.about {
    color: $black;
    margin-bottom: 72px;
   
}

.about-block {
    position: relative;
    display: flex;
    gap: 42px;
    &__img {
      
    }
    &__image {
        
    }
}
.about-poets {
    position: absolute;
    top: 318px;
    left: 259px;
  border-radius: 25px;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 40px 49px;
    display: flex;
    gap: 15px;
    &__link {
        position: relative;
  display: inline-block; /* Чтобы размеры были корректно рассчитаны */
  margin-right: 25px;   /* Отступ для размещения эллипса */
         &::after {

       content: ""; /* Важно для отображения псевдоэлемента */
  position: absolute;
  bottom: 0;
  right: 10px; /* Располагаем эллипс рядом с объектом */
  width: 15px;
  height: 15px;
  background-color:  rgba(4, 183, 63, 1);; /* Цвет эллипса */
  border-radius: 50%;   /* Превращаем прямоугольник в эллипс */
  display: inline-block; /* Можно также использовать, но absolute уже делает это */
        }
    }
    &__img {
        position: relative;
        width: 70px;
        border-radius: 50%;
       
    }
}
.about-content {
    &__title {
        color: rgba(255, 90, 5, 1);

  font-family: "inter-semibold";
font-size: 24px;
text-transform: uppercase;
margin-bottom: 20px;

    }
    &__decription {
        max-width: 760px;
        p {
            color: rgba(0, 0, 0, 1);
 font-family: "montserrat-regular";
font-size: 20px;
margin-bottom: 15px;
        }
    }
}
