.successes-company {
    min-height: 400px;
    color: $black;
}

.cards {
    display: flex;
    gap: 30px;
    
    &__item {
    }
    &__number {
        display: inline-flex;
        color: rgba(255, 90, 5, 1);

font-family: Inter;
font-size: 55px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
    }
    &__text {
        color: rgba(5, 0, 11, 1);

font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
    }
}