.quotes {
    background: rgba(255, 251, 249, 1);
    min-height: 600px;
    margin-bottom: 50px;
}
.quotes-slider{
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;
     
    
    &__wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
       
    }
    
    &__item {
        flex: 0 0 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
         position: relative;
         top: 30px;
        z-index: 10;
    }
    &__item2 {
        flex: 0 0 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
         position: relative;
         top: 30px;
        z-index: 10;
    }
    
    &__item {
     a {
        display: block;
        text-decoration: none;
        color: #333;
    }
}
&__decor {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
}
&__decor2 {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
}
        
}




@media (max-width: 768px) {
    .quotes-slider__item {
        flex: 0 0 100%;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .quotes-slider__item {
        flex: 0 0 100%;
        width: 100%;
    }
}




.quotes-slider-block {
    display: flex;
    justify-content: space-between;
  
    &__title {
        color: $black;
     font-family: "montserrat-semibold";
    font-size:clamp(1.25rem, 1.179rem + 0.36vw, 1.5rem); //max 24 min 20
    line-height: 1.2em;
    text-transform: uppercase;
    padding-left: 60px;
    }
}

.quotes-slider-quote {
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, 0.05);
background: rgba(255, 255, 255, 1);
/* Rectangle 24 */
width: 655px;
height: 236px;
padding: 132px 110px 30px 30px;
display: flex;
position: absolute;
top: 170px;
left: 340px;
z-index: 20;
&__text {
    max-width: 515px;
    color: rgba(5, 0, 11, 1);
 font-family: "inter-italic";
font-size: 16px;
line-height: 1.6em;

}
&__text2 {
    max-width: 515px;
}
}

.quotes-slider-writes {
    padding: 30px 31px 31px 20px;
    text-align: left;
    max-width: 468px;
    height: 129px;
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, 0.05);
background: rgba(255, 255, 255, 1);
position: absolute;
top: 135px;
left: 340px;
z-index: 30;

&__title {
    color: rgba(5, 0, 11, 1);
  font-family: "inter-semibold";
font-size:clamp(1.125rem, 1rem + 0.63vw, 1.563rem);//max 25 min 18
line-height: 1.6em;


}
&__work {
    color: rgba(5, 0, 11, 1);
font-size:clamp(1rem, 0.929rem + 0.36vw, 1.25rem);// max 20 min 16
line-height: 1.6em;



}

}



.quotes-slider-quote2 {
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, 0.05);
background: rgba(255, 255, 255, 1);
/* Rectangle 24 */
width: 655px;
height: 236px;
padding: 132px 110px 30px 30px;
display: flex;
position: absolute;
top: 170px;
left: 340px;
z-index: 20;
}


.quotes-slider-writes2 {
    padding: 30px 31px 31px 20px;
    text-align: left;
    width: 373px;
    height: 129px;
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, 0.05);
background: rgba(255, 255, 255, 1);

position: absolute;
top: 135px;
left: 340px;
z-index: 30;

}
