// * {
//   border: 2px solid red;
// }
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}
body {
  color: $white;
  font-size: clamp(1rem, 0.922rem + 0.39vw, 1.25rem);// max 20px min 16px
  font-family: "inter-regular" "sans-serif";
  line-height: 1.6em;
	&.lock {
		overflow: hidden;
	}
}
html {
  width: 100%;
  height: 100%;
}
a,button,input,textarea,svg * {
  transition: $transition-duration;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
// ---------решение с залипанием наведение на кнопку для мобильных устройств--------------------
@media(hover: hover) {
  button:hover{
      background-color: $bg-btn; 
      color: $black; 
      }
  }
  @media (hover: none) {
  button:active {
      background-color: blue;
      transform: skew(-30deg, 0deg);
      color: black;
      border:  1px solid gray;
  }    
  }
// -------------------------------------------------