@font-face {
    font-family: "inter-bold";
    src: url("../fonts/Inter18pt-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "inter-medium";
    src: url("../fonts/Inter18pt-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "inter-regular";
    src: url("../fonts/Inter18pt-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "inter-semibold";
    src: url("../fonts/Inter18pt-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "inter-italic";
    src: url("../fonts/Inter18pt-Italic.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}