$transition-duration: 0.3s;


// colorscolors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$bg-btn: rgba(255, 90, 5, 1);
$elipse: rgba(4, 183, 63, 1);
$liner-grad:  linear-gradient(249.08deg, rgba(46.02395248413086, 66.82051086425781, 240.125, 1),rgba(101.99999237060547, 119.3617172241211, 255, 1) 100%);


// ----------